

#main-cards4{
    display: flex;
    justify-content: space-around;
}

#cards4-text{
    text-align: center;
}


#cards4-text:hover{
    color: red;
}

.cards4{
    background-color: #eaeeef;
}

.cards4:hover{
    border: 1px solid red;
}

.cards4{
    width: 18rem;
}

@media(max-width:1200px){
    
.cards4{
    width: 15rem;
}
}

@media(max-width:985px){
    
.cards4{
    width: 13rem;
}
}

@media(max-width:870px){
    
.cards4{
    width: 10rem;
}
}
@media(max-width:680px){
    
.cards4{
    width: 9rem;
}
}
@media(max-width:610px){
    
.cards4{
    width: 8rem;
}
}
@media(max-width:539px){
    
.cards4{
    width: 7rem;
}
}
@media(max-width:500px){
    
.cards4{
    width: 6rem;
}
}
@media(max-width:430px){
    
.cards4{
    width: 5rem;
}
}

